<html>

<head>
    <title>My Hobby</title>
</head>

<body>
    <H1 align="center">My hobbies</H1>
    <br>
    <p>I have many hobbies, but my favourite ones are as follows:</p>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/Cricket" target="_blank">Cricket</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Swimming" target="_blank">Swimming</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Sport" target="_blank">Playing</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Reading" target="_blank">Reading</a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <marquee scrollamount=12 behavior=alternate>
        Developer: Om Nimbhore
    </marquee>
</body>

</html>
